In [1]:
from google.cloud import bigquery
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "credentials/endless-beach-228506-b15de187c224.json"

In [2]:
# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "stackoverflow" dataset
dataset_ref = client.dataset("stackoverflow", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [15]:
tables = list(client.list_tables(dataset))
list_of_tables = [table.table_id for table in tables]
print(list_of_tables)

['badges', 'comments', 'post_history', 'post_links', 'posts_answers', 'posts_moderator_nomination', 'posts_orphaned_tag_wiki', 'posts_privilege_wiki', 'posts_questions', 'posts_tag_wiki', 'posts_tag_wiki_excerpt', 'posts_wiki_placeholder', 'stackoverflow_posts', 'tags', 'users', 'votes']

In [18]:
# Construct a reference to the "posts_answers" table
answers_table_ref = dataset_ref.table("posts_answers")

# API request - fetch the table
answers_table = client.get_table(answers_table_ref)

# Preview the first five lines of the "posts_answers" table
client.list_rows(answers_table, max_results=5).to_dataframe()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,68472973,None,<p>Thank you. After thinking through your ans...,None,None,0,None,2021-07-21 16:09:49.560000+00:00,None,2021-07-21 16:09:49.560000+00:00,None,None,None,None,11880888,68461807,2,0,None,None
1,68472974,None,<pre><code>SELECT age((((m.message -&gt; 'head...,None,None,0,None,2021-07-21 16:09:54.130000+00:00,None,2021-07-21 16:09:54.130000+00:00,None,None,None,None,14132876,68471992,2,0,None,None
2,68472975,None,<p>I believe <code>Identifiable</code> is a pr...,None,None,1,None,2021-07-21 16:09:56.317000+00:00,None,2021-07-21 16:09:56.317000+00:00,None,None,None,None,16487083,68472232,2,0,None,None
3,68472976,None,<p>Funny enough I had the same problem with th...,None,None,0,None,2021-07-21 16:10:06.223000+00:00,None,2021-07-21 16:10:06.223000+00:00,None,None,None,None,9497800,64728953,2,0,None,None
4,68472989,None,<p>You either need to set a <code>height</code...,None,None,0,None,2021-07-21 16:10:45.250000+00:00,None,2021-07-21 16:10:45.250000+00:00,None,None,None,None,6035993,68472903,2,0,None,None

In [17]:
# Construct a reference to the "posts_questions" table
questions_table_ref = dataset_ref.table("posts_questions")

# API request - fetch the table
questions_table = client.get_table(questions_table_ref)

# Preview the first five lines of the "posts_questions" table
client.list_rows(questions_table, max_results=5).to_dataframe()

,id,title,body,accepted_answer_id,answer_count,comment_count,community_owned_date,creation_date,favorite_count,last_activity_date,last_edit_date,last_editor_display_name,last_editor_user_id,owner_display_name,owner_user_id,parent_id,post_type_id,score,tags,view_count
0,68760184,SpawnPrefabAtGeoLocation with mapbox-streets-v8?,<p>How can we spawn custom prefabs at geo loca...,None,0,0,None,2021-08-12 15:22:56.787000+00:00,None,2021-08-12 15:22:56.787000+00:00,None,None,None,None,8169506,None,1,0,mapbox-unity,2
1,68776566,Why to use process.nextTick() to call Writeabl...,"<p>I was reading the <a href=""https://nodejs.o...",None,0,0,None,2021-08-13 17:56:46.653000+00:00,None,2021-08-13 17:56:46.653000+00:00,None,None,None,None,11255630,None,1,0,javascript|node.js|stream|buffer,2
2,68847727,Share button in browser copy old address url,<p>I dont know but my share button in browser ...,None,0,0,None,2021-08-19 12:16:22.210000+00:00,None,2021-08-19 12:16:22.210000+00:00,None,None,None,None,15916653,None,1,0,url|mobile,2
3,68863312,Changed a Virtual Switch on a node and destroy...,<p>I have a Windows Failover cluster with 2 'b...,None,0,0,None,2021-08-20 13:46:29.450000+00:00,None,2021-08-20 13:46:29.450000+00:00,None,None,None,None,3533172,None,1,0,failovercluster,2
4,69023598,Problem about exporting data by the function “...,<p>1.The field type defined in the database is...,None,0,0,None,2021-09-02 03:00:15+00:00,None,2021-09-02 03:00:15+00:00,None,None,None,None,15504166,None,1,0,dolphindb,2

In [22]:
questions_query = """
SELECT id, title, owner_user_id
FROM `bigquery-public-data.stackoverflow.posts_questions`
WHERE tags LIKE '%bigquery%'
"""
safe_config = bigquery.QueryJobConfig()
questions_query_job = client.query(questions_query, job_config=safe_config)
questions_query_job.result().to_dataframe()

,id,title,owner_user_id,tags
0,69060625,Array Filter on DataStudio,16709866.0,sql|google-bigquery|google-data-studio
1,68929294,Unknown Coder URN beam:coder:pickled_python:v1...,4973093.0,python|google-bigquery|google-cloud-dataflow|a...
2,69044618,How transfer azure analytics data to google bi...,5205355.0,api|asp.net-core|google-bigquery|azure-analytics
3,68846666,Attach User ID to the Firebase messaging data ...,2155922.0,android|firebase|google-analytics|google-bigqu...
4,69000368,Export Edited DT table in a Shiny App to a Goo...,5266409.0,r|shiny|google-bigquery|dt
...,...,...,...,...
18160,53965670,How to query multiple partitions of a Firebase...,10844848.0,firebase|google-bigquery|firebase-analytics
18161,55762268,Why BigQuery does not show Firebase-Analytics ...,1406041.0,firebase|google-bigquery|firebase-analytics
18162,41552538,Query all datasets and tables within project o...,3418376.0,firebase|google-bigquery|firebase-analytics
18163,41446641,Age and Interests fields isn't exported to Big...,7367172.0,firebase|google-bigquery|firebase-analytics
18164,41509431,Firebase exported to BigQuery: retention cohor...,1522697.0,firebase|google-bigquery|firebase-analytics

In [32]:
answers_query = """
SELECT answers.id, answers.body, answers.owner_user_id
FROM `bigquery-public-data.stackoverflow.posts_questions` AS questions
INNER JOIN `bigquery-public-data.stackoverflow.posts_answers` AS answers
ON questions.id = answers.parent_id
WHERE questions.tags LIKE '%bigquery%'
"""
safe_config = bigquery.QueryJobConfig()
answers_query_job = client.query(answers_query, job_config=safe_config)
answers_query_job.result().to_dataframe()

,id,body,owner_user_id
0,37917701,<p>For BigQuery it makes sense to denormalize ...,1343921.0
1,37995484,"<p>For Legacy SQL, use the comma as a union op...",6504981.0
2,38199092,<p>The best way to do that today is by using G...,2271659.0
3,38248971,<p>try using the following to merge all files ...,356506.0
4,38270877,<p>Try the following query. It might give you ...,5174955.0
...,...,...,...
22901,18906175,<p>BigQuery Legacy SQL uses <code>[]</code> as...,1366527.0
22902,18666316,<p>500s are always BigQuery bugs. I believe I'...,1366527.0
22903,18796585,<p>The semantics of join are that when the sam...,1366527.0
22904,18906203,"<p>To use table decorators, you can either spe...",1366527.0
22905,18883525,"<p>All query results get flattened by default,...",1366527.0

In [43]:
bigquery_expert_query = """
SELECT answers.owner_user_id AS user_id, COUNT(1) AS number_of_answers
FROM `bigquery-public-data.stackoverflow.posts_questions` AS questions
INNER JOIN `bigquery-public-data.stackoverflow.posts_answers` AS answers
ON questions.id = answers.parent_id
WHERE questions.tags LIKE '%bigquery%'
GROUP BY answers.owner_user_id
ORDER BY number_of_answers DESC
"""
safe_config = bigquery.QueryJobConfig()
bigquery_expert_query_job = client.query(bigquery_expert_query, job_config=safe_config)
bigquery_expert_query_job.result().to_dataframe()

        user_id  number_of_answers
0     5221944.0               4270
1     1144035.0               1604
2      132438.0                899
3     6253347.0                736
4     1366527.0                620
...         ...                ...
5076  2765813.0                  1
5077  1469375.0                  1
5078  1368381.0                  1
5079   335905.0                  1
5080     1591.0                  1

[5081 rows x 2 columns]